[Unit]
Description=Project Loved Web API
After=network-online.target

[Service]
ExecStart=/srv/loved/index.js
WorkingDirectory=/srv/loved
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
