@mixin darkTheme {
  html[data-theme=dark] & {
    @content;
  }
}

@mixin lightTheme {
  html[data-theme=light] & {
    @content;
  }
}

@mixin _light-colors {
  --accent: #f6a;
  --accent-background: #fff0f8;
  --accent-hover: #fde;
  --accent-light: #f9c;
  --background: #fff;
  --content: #333;
  --control: #9cf;
  --control-background: #9cf2;
  --control-heavy: #69f;
  --rating--3: #f22;
  --rating--3-background: #f221;
  --rating--3-hover: #fbb;
  --rating--2: #f44;
  --rating--1: #f66;
  --rating-0: #fa2;
  --rating-1: #5a5;
  --rating-2: #3a3;
  --rating-3: #1a1;
  --rating-3-background: #1a11;
  --secondary-accent: rgb(236, 94, 255);
  --secondary-accent-hover: rgb(248, 207, 253);
}

html {
  --accent: hsl(340, 100%, 74%);
  --accent-background: 	hsl(336, 10%, 10%);
  --accent-hover: hsl(340, 30%, 50%);
  --accent-light: hsl(340, 90%, 70%);
  --background: hsl(330, 11%, 15%);
  --content: #eee;
  --control: #9cf;
  --control-background: #9cf2;
  --control-heavy: #69f;
  --rating--3: #f33;
  --rating--3-background: #f331;
  --rating--3-hover: #fcc;
  --rating--2: #f55;
  --rating--1: #f77;
  --rating-0: #fb3;
  --rating-1: #6b6;
  --rating-2: #4b4;
  --rating-3: #2b2;
  --rating-3-background: #2b21;
  --secondary-accent: hsl(280, 90%, 70%);
  --secondary-accent-hover: hsl(280, 30%, 50%);

  &[data-theme=light] {
    @include _light-colors;
  }
}
