@use 'colors';
@use 'drop-bar';
@use 'modal';
@use 'tooltip';

.fake-a {
  all: unset;
  cursor: pointer;
}

a, .fake-a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

::-webkit-scrollbar {
  background: none;

  &-thumb {
    background-color: var(--accent-light);
  }
}

html {
  color: var(--content);
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 14px;
  text-size-adjust: none;
}

body {
  background-color: var(--accent-background);
  // Left margin equal to scrollbar width, so body doesn't shift
  margin: 0 0 0 calc(100vw - 100%);
}

li {
  margin-top: 0.25em;
}

button:not(.fake-a) {
  border: unset;
  font: unset;
  padding: 0.5em;
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
    color: var(--content);
  }
}

.modal-submit-button {
  display: block;
  margin: 1em auto 0;
  font-weight: bold;
}

.textarea-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid var(--content);

  &:focus-within {
    outline: 1px solid var(--content);
  }
}

input, select, textarea {
  background: none;
  color: inherit;
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
  border: 1px solid var(--content);

  &:focus {
    outline: 1px solid var(--content);
  }
}

textarea {
  display: block;
  resize: none;
  overflow: hidden;
}

.textarea-wrapper > textarea {
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

td > input[type=text], td > select {
  width: 100%;
}

input {
  &[type=date], &[type=time], &[type=datetime-local] {
    width: fit-content;
  }

  &[type=checkbox], &[type=radio] {
    border: none;

    &:focus {
      outline: 2px solid var(--content);
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.big-center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1100px;
}

header {
  background-color: var(--accent-light);
  color: var(--background);
  padding-top: 0.5em;

  a, .fake-a {
    color: inherit;
  }

  .info {
    display: flex;
    align-items: center;

    > :nth-child(n + 3) {
      margin-left: 1.5em;
    }
  }

  .logo {
    margin-right: auto;
    font-size: 18px;
  }
}

nav {
  margin-top: 0.5em;
  display: flex;

  a {
    background-color: var(--accent);
    padding: 0.25em 0.5em;
    display: block;
    margin-right: 0.5em;

    &:hover {
      background-color: var(--accent-hover);
      color: var(--content);
      text-decoration: none;
    }

    &.active {
      background-color: var(--background) !important;
      color: var(--content);
    }

    &.attention {
      background-color: var(--secondary-accent);

      &:hover {
        background-color: var(--secondary-accent-hover);
      }
    }
  }

  span {
    padding: 0.25em 0.5em 0.25em 1em;
  }
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--background);
}

main, .box, .content-block {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3 {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

table {
  border-spacing: 1em 0.25em;
}

th {
  text-align: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--accent-light);
  padding: 0;
  margin: 0.5em 0;
}

footer {
  margin: 1em 0;
  text-align: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.content-block + .content-block {
  margin-top: 1em;
  border-top: 1px solid var(--accent-light);
  padding-top: 1em;
}

.box {
  border: 1px solid var(--accent-light);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.warning-box {
  background-color: var(--rating-0);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.flex-bar {
  display: flex;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 1em;
  }

  > .push-right {
    margin-left: auto;
  }
}

.flex-text {
  display: flex;

  > :not(:first-child) {
    margin-left: 0.35em;
  }
}

.success {
  color: var(--rating-3);
}

.error {
  color: var(--rating--3);
}

.pending {
  color: var(--rating-0);
}

.panic {
  background-color: var(--rating--3);
  color: var(--background);
  padding: 0.1em;
}

.nomination > * {
  margin-bottom: 0.25em;
}

.nomination-title {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.description-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5em;

  > :not(:first-child) {
    margin-left: 0.5em;
  }
}

.important {
  font-weight: bold;

  &-bad {
    color: var(--rating--3);
    font-weight: bold;
  }
}

button.angry {
  background-color: var(--rating--3);

  &:hover {
    background-color: var(--rating--3-hover);
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.help {
  cursor: help;

  &:hover {
    text-decoration: none;
  }
}

.no-wrap {
  white-space: nowrap;
}

.main-table {
  margin-top: 1em;
  width: 100%;

  td, th {
    white-space: nowrap;

    &.normal-wrap {
      white-space: normal;
    }
  }
}

tr.sticky > th {
  position: sticky;
  top: 0;
  padding-bottom: 0.25em;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1em;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-bottom: 1px solid var(--accent-light);
  }

  &:last-child::after {
    right: 0;
  }
}

.list-input-row {
  margin-bottom: 0.25em;
}

.spacer-margin {
  margin-top: 1.3rem;
}

.faded {
  opacity: 0.7;
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex-basis: 25%;

    &:nth-child(-n + 4) > h2 {
      margin-top: 0;
    }

    > ul {
      margin-bottom: 0;
    }
  }
}

.beatmap {
  display: inline-block;

  &-artist {
    font-size: 12px;
  }

  &-title {
    font-weight: bold;
  }
}

.review {
  font-weight: bold;

  @for $i from -3 through 3 {
    &-score-#{$i} {
      color: var(--rating-#{$i});
    }
  }
}

.priority {
  $priorities: ("rejected": -3, "low": 0, "medium": 1, "high": 3);

  font-weight: bold;

  @each $name, $rating in $priorities {
    &.#{$name} {
      color: var(--rating-#{$rating});
    }
  }
}

.locale-selector {
  border: none;
  padding: 0;

  > option {
    color: initial;
  }
}

.beatmapset-consents {
  margin: 0 3em;
  table-layout: fixed;
  width: 80%;

  th:nth-child(1) {
    width: 30%;
  }

  th:nth-child(2) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 60%;
  }
}

.submissions-table {
  border-collapse: collapse;

  th {
    padding-top: 0.25em !important;
    padding-bottom: 0.5em !important;

    &:not(:last-child) {
      padding-right: 1em;
    }
  }
}

.submission-beatmapset {
  &:not(:first-child) {
    border-top: 1px solid #bbb;
  }

  [data-beatmapset-id]::before {
    // Not sure where the 3px comes from, but this looks the best.
    $offset: calc(2.25em + 3px);

    content: '';
    display: block;
    height: $offset;
    margin-top: calc(-1 * #{$offset});
  }

  > td {
    padding-top: 0.5em;

    &:not(:last-child) {
      padding-right: 1em;
    }
  }

  &.closed:not(:last-child) > td {
    padding-bottom: 0.5em;
  }

  > td > img, .icon-label-container > img {
    opacity: 0.4;
  }
}

.submissions {
  margin: 0;
  padding: 0 2em;

  > li {
    margin: 0.5em 0;
  }
}

.submission-reason {
  margin-top: 0.25em;
}

.icon-label-container {
  display: inline-flex;
  align-items: center;

  > img {
    padding-right: 0.35em;
  }
}

.underline {
  text-decoration: underline;
}
