@use 'colors';
@use 'drop-bar';
@use 'dropdown';
@use 'messageformat';
@use 'modal';
@use 'survey-question';
@use 'tooltip';

.fake-a {
  all: unset;
  cursor: pointer;
}

a, .fake-a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.no-decoration:hover {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  background: none;

  &-thumb {
    background-color: var(--accent);
  }
}

html {
  color: var(--content);
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 14px;
  scrollbar-color: var(--accent) var(--accent-background);
  text-size-adjust: none;
}

body {
  background-color: var(--accent-background);
  margin: 0;

  // Left margin equal to scrollbar width, so body doesn't shift
  @media (min-width: calc(1100px + 2em)) {
    margin-left: calc(100vw - 100%);
  }
}

li {
  margin-top: 0.25em;
}

option {
  background-color: var(--background);
  color: var(--content);
}

button:not(.fake-a) {
  border: unset;
  font: unset;
  padding: 0.5em;
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
    color: var(--content);
  }

  &[disabled] {
    cursor: initial;
    opacity: 0.4;
    pointer-events: none;
  }
}

.modal-submit-button {
  display: block;
  margin: 1em auto 0;
  font-weight: bold;
}

.textarea-wrapper {
  padding: 0.5em;
  border: 1px solid var(--content);

  &:focus-within {
    outline: 1px solid var(--content);
  }
}

input, select, textarea, .slate-editor.editable {
  background: none;
  color: inherit;
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
  border: 1px solid var(--content);

  &:focus {
    outline: 1px solid var(--content);
  }
}

textarea {
  display: block;
  resize: none;
  overflow: hidden;
}

.textarea-wrapper > textarea {
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

td > input[type=text], td > select {
  width: 100%;
}

input {
  &[type=date], &[type=time], &[type=datetime-local] {
    width: fit-content;
  }

  &[type=checkbox], &[type=radio] {
    border: none;

    &:focus {
      outline: 2px solid var(--content);
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em 1em;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;

  > input {
    &[type=text], &[type=number] {
      width: fit-content;
    }

    &.full-width {
      width: auto;
    }
  }

  > label {
    // Same height as <input> with their padding and border
    margin: calc(0.25em + 1px) 0;
  }
}

.big-center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1100px;
}

header {
  background-color: var(--accent-light);
  color: var(--background);
  padding-top: 0.5em;

  a, .fake-a {
    color: inherit;
  }

  select {
    border: none;
    padding: 0;

    > option {
      background-color: var(--accent-light);
      color: var(--background);
    }
  }

  .info {
    display: flex;
    align-items: center;

    > :nth-child(n + 3) {
      margin-left: 1.5em;
    }
  }

  .logo {
    margin-right: auto;
    font-size: 18px;
  }
}

nav {
  margin-top: 0.5em;
  display: flex;

  &.nested {
    border-bottom: 1px dashed var(--accent);
    padding-bottom: 1em;

    a {
      color: var(--background);

      &.active {
        outline: 1px solid var(--accent);
      }
    }
  }

  a {
    background-color: var(--accent);
    padding: 0.25em 0.5em;
    display: block;
    margin-right: 0.5em;

    &:hover {
      background-color: var(--accent-hover);
      color: var(--content);
      text-decoration: none;
    }

    &.active {
      background-color: var(--background) !important;
      color: var(--content);
    }

    &.attention {
      background-color: var(--secondary-accent);

      &:hover {
        background-color: var(--secondary-accent-hover);
      }
    }
  }

  span {
    padding: 0.25em 0.5em 0.25em 1em;
  }

  > .dropdown-container {
    margin-left: auto;
    margin-right: -1em;
    padding: 0.25em 1em;

    > .dropdown {
      background-color: var(--accent-light);
    }

    a {
      margin-right: 0;
      margin-bottom: 0.5em;
    }
  }
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--background);
}

main, .box, .content-block {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3 {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

table {
  border-spacing: 1em 0.25em;
}

th {
  text-align: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--accent-light);
  padding: 0;
  margin: 0.5em 0;
}

footer {
  margin: 1em 0;
  text-align: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.content-block + .content-block {
  margin-top: 1em;
  border-top: 1px solid var(--accent-light);
  padding-top: 1em;
}

.box {
  border: 1px solid var(--accent-light);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.warning-box {
  background-color: var(--rating-0);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  @include colors.darkTheme {
    color: var(--background);
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.flex-bar {
  display: flex;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 1em;
  }
}

.flex-text {
  display: flex;

  > :not(:first-child) {
    margin-left: 0.35em;
  }
}

.success {
  color: var(--rating-3);
}

.error {
  color: var(--rating--3);
}

.pending {
  color: var(--rating-0);
}

.panic {
  background-color: var(--rating--3);
  color: var(--background);
  padding: 0.1em;
}

.nomination {
  &--warning {
    border-color: var(--rating-0);
  }

  > * {
    margin-bottom: 0.25em;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }

  &__warnings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em 1em;
    margin-top: 1em;
    color: var(--rating-0);
  }

  &__warning-icon {
    background-color: var(--rating-0);
    color: var(--content);
    display: inline-block;
    margin-right: 0.5em;
    min-width: 1em;
    padding: 0.1em;
    text-align: center;

    @include colors.darkTheme {
      color: var(--background);
    }
  }
}

.description {
  margin-top: 1em;

  &__info:not(:last-child) {
    margin-bottom: 0.25em;
  }

  &__editor-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5em;

    > :not(:first-child) {
      margin-left: 0.5em;
    }
  }

  &-history {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &-item {
      border: 1px solid var(--accent-light);
      padding: 0.5em;

      &__title {
        margin-top: 0;
        margin-bottom: 0.25em;
      }

      &__inserted {
        color: #698542;
        background-color: #95AE86;
      }

      &__deleted {
        color: #854242;
        background-color: #AE8686;
      }
    }
  }
}

.important {
  font-weight: bold;

  &-bad {
    color: var(--rating--3);
    font-weight: bold;
  }
}

button.angry {
  background-color: var(--rating--3);

  &:hover {
    background-color: var(--rating--3-hover);
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.help {
  cursor: help;

  &:hover {
    text-decoration: none;
  }
}

.no-wrap {
  white-space: nowrap;
}

.main-table {
  margin-top: 1em;
  width: 100%;

  > tbody > tr > td, > thead > tr > th {
    white-space: nowrap;

    &.normal-wrap {
      white-space: normal;
    }

    > table {
      white-space: normal;
    }
  }
}

tr.sticky > th {
  position: sticky;
  top: 0;
  padding-bottom: 0.25em;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1em;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-bottom: 1px solid var(--accent-light);
  }

  &:last-child::after {
    right: 0;
  }
}

.list-input-row {
  margin-bottom: 0.25em;
}

.block-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.slim-margin {
  margin-top: 0.5em;
}

.spacer-margin {
  margin-top: 1.3rem;
}

.faded {
  opacity: 0.7;
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex-basis: 25%;

    &:nth-child(-n + 4) > h2 {
      margin-top: 0;
    }

    > ul {
      margin-bottom: 0;
    }
  }
}

.key-mode-grid {
  column-gap: 0.35em;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
}

.beatmap {
  display: inline-block;
  overflow-wrap: anywhere;

  &-artist {
    font-size: 12px;
  }

  &-title {
    font-weight: bold;
  }
}

.review {
  font-weight: bold;

  @for $i from -3 through 3 {
    &-score-#{$i} {
      color: var(--rating-#{$i});
    }
  }
}

.priority {
  $priorities: ("rejected": -3, "low": 0, "medium": 1, "high": 3);

  font-weight: bold;

  @each $name, $rating in $priorities {
    &.#{$name} {
      color: var(--rating-#{$rating});
    }
  }
}

.beatmapset-consents {
  margin: 0 3em;
  table-layout: fixed;
  width: 80%;

  th:nth-child(1) {
    width: 30%;
  }

  th:nth-child(2) {
    width: 10%;
  }

  th:nth-child(3) {
    width: 60%;
  }
}

.submissions-table {
  border-collapse: collapse;

  th {
    padding-top: 0.25em !important;
    padding-bottom: 0.5em !important;

    &:not(:last-child) {
      padding-right: 1em;
    }
  }

  > tbody > tr {
    position: relative;
  }
}

.submission-selector {
  border: 2px solid var(--control);
  bottom:-2px;
  display:none;
  left:-2px;
  pointer-events: none;
  position:absolute;
  right:-2px;
  top:-2px;

  tr.hover & {
    display: block;
  }

  tr.submission-beatmapset:not(.closed) & {
    border-bottom: none;
  }

  tr:not(.submission-beatmapset) & {
    border-top: none;
  }
}

.submission-beatmapset {
  &.new, &.new:not(.closed) + tr {
    background-color: var(--control-background);
  }

  &.voting, &.voting:not(.closed) + tr {
    background-color: var(--rating-3-background);
  }

  &:not(:first-child) {
    border-top: 1px solid #bbb;
  }

  [data-beatmapset-id] {
    pointer-events: none;

    &::before {
      // Not sure where the 3px comes from, but this looks the best.
      $offset: calc(2.25em + 3px);

      content: '';
      display: block;
      height: $offset;
      margin-top: calc(-1 * #{$offset});
    }
  }

  &:not(.hover) .selector-indicator {
    opacity: 0.4;
  }

  &.hover .selector-indicator {
    color: var(--control-heavy);
  }

  .selector-indicator {
    cursor: default;
  }

  > td {
    padding-top: 0.5em;

    &:not(:last-child) {
      padding-right: 1em;
    }
  }

  &.closed:not(:last-child) > td {
    padding-bottom: 0.5em;
  }

  > td > img, .icon-label-container > img {
    opacity: 0.4;
  }
}

.submissions {
  margin: 0;
  padding: 0 2em;

  > li {
    margin: 0.5em 0;

    .new {
      color: var(--control-heavy);
      font-weight: bold;
    }
  }
}

.submission-reason {
  margin-top: 0.25em;
}

.review-button-container {
  float: right;
  margin-top: 0.5em;
  margin-right: 2em;
}

.icon-label-container {
  display: inline-flex;
  align-items: center;

  > img {
    padding-right: 0.35em;
  }
}

.underline {
  text-decoration: underline;
}

.message {
  border-left: 2px solid transparent;
  padding-left: 0.5em;

  > h3 {
    margin-bottom: 0.5em;
  }

  &-modified {
    border-left-color: var(--control);
  }

  &-reference {
    margin: 0.5em 0;
    padding-left: 0.25em;
  }

  &-warning {
    border-left-color: var(--rating--3);
  }
}

.content-icon {
  @include colors.darkTheme {
    filter: invert(1);
  }
}

.invert-icon {
  @include colors.lightTheme {
    filter: invert(1);
  }
}

.fix-column-layout {
  width: 100%;
}

.page-selector {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;

  > :first-child {
    margin-left: auto;
  }

  > :last-child {
    margin-right: auto;
  }

  button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 2.5em;

    &.selected {
      background-color: var(--secondary-accent);
      cursor: initial;

      &:hover {
        background-color: var(--secondary-accent);
        color: var(--background);
      }
    }
  }
}

.secondary-accent {
  color: var(--secondary-accent);
}

.log-type-list {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  gap: 0.5em 1em;

  label {
    margin-left: 1em;
  }
}

.round-show-todo-menu {
  float: right;

  label {
    margin-right: 1em;
  }
}

.back-to-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.news-post-notice {
  border-bottom: 1px dashed var(--accent);
  padding-bottom: 1rem;
  font-size: 1.5em;
  text-align: center;
}

.beatmapset-search {
  flex-grow: 1;
  position: relative;

  &-results {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--content);
    border-top: none;
    z-index: 1;

    > button {
      padding: 0.25em;
      text-align: left;
    }
  }

  &-selection {
    border: 1px solid var(--content);
    cursor: text;
    padding: 0.25em;
  }

  > input {
    width: 100%;
  }
}
