.fake-a {
    all: unset;
    cursor: pointer;
}

a, .fake-a {
    color: #f6a;
    text-decoration: none;
}

a:hover, .fake-a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #f9c;
}

html {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #fff0f8;
    color: #333;
    /* Left margin equal to scrollbar width, so body doesn't shift */
    margin: 0 0 0 calc(100vw - 100%);
}

.modal {
    max-width: 800px;
    padding: 1em;
    background-color: #fff;
}

.modal-overlay {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0008;
}

.modal-overlay.modal-open {
    display: flex;
}

li {
    margin-top: 0.25em;
}

button:not(.fake-a) {
    border: unset;
    font: unset;
    padding: 0.5em;
    background-color: #f6a;
    color: #fff;
    cursor: pointer;
}

button:not(.fake-a):hover {
    background-color: #fde;
    color: #333;
}

.modal-submit-button {
    display: block;
    margin: 1em auto 0;
    font-weight: bold;
}

.textarea-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #333;
}

.textarea-wrapper:focus-within {
    outline: 1px solid #333;
}

input, select, textarea {
    background: none;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
}

textarea {
    display: block;
    resize: none;
    overflow: hidden;
}

input, select, textarea {
    padding: 0.25em;
    border: 1px solid #333;
}

input:focus, select:focus, textarea:focus {
    outline: 1px solid #333;
}

.textarea-wrapper > textarea {
    outline: none;
    border: none;
    width: 100%;
    padding: 0;
}

td > input[type=text], td > select {
    width: 100%;
}

input[type=date], input[type=time], input[type=datetime-local] {
    width: fit-content;
}

input[type=checkbox], input[type=radio] {
    border: none;
}

input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 2px solid #333;
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.big-center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1100px;
}

header {
    background-color: #f9c;
    color: #fff;
    padding-top: 0.5em;
}

header a, header .fake-a {
    color: inherit;
}

header .info {
    display: flex;
    align-items: center;
}

header .info > :nth-child(n+3) {
    margin-left: 1.5em;
}

header .logo {
    margin-right: auto;
    font-size: 18px;
}

nav {
    margin-top: 0.5em;
    display: flex;
}

nav span {
    padding: 0.25em 0.5em 0.25em 1em;
}

nav a {
    background-color: #f6a;
    padding: 0.25em 0.5em;
    display: block;
    margin-right: 0.5em;
}

nav a:hover {
    background-color: #fde;
    color: #333;
    text-decoration: none;
}

nav a.attention {
    background-color: rgb(236, 94, 255);
}

nav a.attention:hover {
    background-color: rgb(248, 207, 253);
}

nav a.active {
    background-color: #fff !important;
    color: #333;
}

main {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
}

main > :first-child,
.box > :first-child,
.content-block > :first-child {
    margin-top: 0;
}

main > :last-child,
.box > :last-child,
.content-block > :last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

table {
    border-spacing: 1em 0.25em;
}

th {
    text-align: inherit;
}

hr {
    border: none;
    border-top: 1px solid #f9c;
    padding: 0;
    margin: 0.5em 0;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.content-block + .content-block {
    margin-top: 1em;
    border-top: 1px solid #f9c;
    padding-top: 1em;
}

.box {
    border: 1px solid #f9c;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.warning-box {
    background-color: #fa2;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flex-bar {
    display: flex;
    justify-content: space-between;
}

.flex-left {
    display: flex;
    align-items: center;
}

.flex-left > :not(:first-child) {
    margin-left: 1em;
}

.success {
    color: #1a1;
}

.error {
    color: #f22;
}

.pending {
    color: #fa2;
}

.panic {
    background-color: #f22;
    color: #fff;
    padding: 0.1em;
}

.nomination > * {
    margin-bottom: 0.25em;
}

.nomination-title {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

.description-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
}

.description-buttons > :not(:first-child) {
    margin-left: 0.5em;
}

.important {
    font-weight: bold;
}

.important-bad {
    color: #f22;
    font-weight: bold;
}

button.angry {
    background-color: #f22;
}

button.angry:hover {
    background-color: #fbb;
}

.flex-grow {
    flex-grow: 1;
}

.flex-no-shrink {
    flex-shrink: 0;
}

.drop-bar-top {
    border-top: 4px dashed #9cf;
    margin-top: 1em;
}

.drop-bar-bottom {
    border-bottom: 4px dashed #9cf;
    margin-bottom: 1em;
}

.help {
    cursor: help;
}

.no-wrap {
    white-space: nowrap;
}

.main-table {
    margin-top: 1em;
}

.main-table td, .main-table th {
    white-space: nowrap;
}

.main-table td.normal-wrap, .main-table th.normal-wrap {
    white-space: normal;
}

tr.sticky > th {
    position: sticky;
    top: 0;
    padding-bottom: 0.25em;
}

tr.sticky > th::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1em;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #f9c;
}

tr.sticky > th:last-child::after {
    right: 0;
}

.list-input-row {
    margin-bottom: 0.25em;
}

.spacer-margin {
    margin-top: 1.3rem;
}

.faded {
    opacity: 0.7;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-list > div {
    flex-basis: 25%;
}

.team-list > div:nth-child(-n+4) > h2 {
    margin-top: 0;
}

.team-list > div > ul {
    margin-bottom: 0;
}

.beatmap {
    display: inline-block;
}

.beatmap-artist {
    font-size: 12px;
}

.beatmap-title {
    font-weight: bold;
}

.review {
    font-weight: bold;
}

.review-score--3 {
    color: #f22;
}

.review-score--2 {
    color: #f44;
}

.review-score--1 {
    color: #f66;
}

.review-score-0 {
    color: #fa2;
}

.review-score-1 {
    color: #5a5;
}

.review-score-2 {
    color: #3a3;
}

.review-score-3 {
    color: #1a1;
}

.priority {
    font-weight: bold;
}

.priority.rejected {
    color: #f22;
}

.priority.low {
    color: #fa2;
}

.priority.medium {
    color: #5a5;
}

.priority.high {
    color: #1a1;
}

.locale-selector {
    border: none;
    padding: 0;
}

.locale-selector > option {
    color: initial;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip-content {
    background-color: #fff0f8;
    border: 1px solid #333;
    bottom: 100%;
    font-weight: normal;
    left: 50%;
    margin-bottom: 0.5em;
    padding: 0.5em;
    position: absolute;
    transform: translateX(-50%);
    width: max-content;
}

.tooltip-triangle {
    background-color: #fff0f8;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    height: 10px;
    left: 50%;
    position: absolute;
    top: calc(100% + 1px);
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    width: 10px;
}

.beatmapset-consents {
    margin: 0 3em;
    table-layout: fixed;
    width: 80%;
}

.beatmapset-consents th:nth-child(1) {
    width: 30%;
}

.beatmapset-consents th:nth-child(2) {
    width: 10%;
}

.beatmapset-consents th:nth-child(3) {
    width: 60%;
}

.submissions-table {
    border-collapse: collapse;
}

table.submissions-table th {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.submissions-table th:not(:last-child) {
    padding-right: 1em;
}

.submission-beatmapset:not(:first-child) {
    border-top: 1px solid #bbb;
}

.submission-beatmapset > td {
    padding-top: 0.5em;
}

.submission-beatmapset > td > img {
    opacity: 0.4;
}

.submission-beatmapset.closed:not(:last-child) > td {
    padding-bottom: 0.5em;
}

.submission-beatmapset > td:not(:last-child) {
    padding-right: 1em;
}

.submissions {
    margin: 0;
    padding: 0 2em;
}

.submissions > li {
    margin: 0.5em 0;
}

.submission-reason {
    margin-top: 0.25em;
}
